[2021-04-06 19:10] kyazdani42 opened #1 "small issue in tex files"
Hey ! not sure why but in tex files when you try to type ' at the end of a line sometimes it does not work.
i'll pinpoint the issue myself and fix it if i can.

[2021-04-06 20:02] steelsojka commented on #1
Yeah this is still very early, so I'm not expecting it to all really work yet. I just did a bunch of refactoring also.... I will add this scenario to my testing.

[2021-04-06 20:13] steelsojka commented on #1
I also the issue has to do with the contexts/extmarks. I need better detection for it.

[2021-04-07 18:09] kyazdani42 commented on #1
i guess so :) usually the plugin is behaving perfectly on programming language files, but on other files it doesn't (you might not need auto pairs on filetypes where you write prose basically). I'll just disable that in my config, this has nothing to do with your plugin.
I haven't seen this error in ts/js/jsx/tsx/lua files though these are behaving very nicely :)

[2021-04-08 13:56] steelsojka commented on #1
Yeah, I don't have any sort of filetype specific support yet. Once I get the algorithms down, I will add all that fun configuration ;)

[2021-04-08 14:11] theHamsta commented on #1
Will it be possible to configure to only expand the pair when a whitespace or a EOL is the next character? I sometimes want to surround some ranges with pairs manually and would like to have the auto-pair behavior for new code.

[2021-04-08 14:13] steelsojka commented on #1
@theHamsta Can you give me an example of what you mean? Right now, all pairs have a `should_expand` function that gets called to determine if it should expand. I use this for `'` so it won't expand when use in a word like `aren't`. You could easily tap into this.... even though the configuration isn't documented yet.

[2021-04-08 14:15] cloggier commented on #1
@steelsojka how would I retain ability to confirm compe's selection of completion menu with `CR`?

[2021-04-08 14:19] steelsojka commented on #1
I'm not sure how compe confirmation is triggered. I would have to look into it's api docs.

[2021-04-08 14:20] theHamsta commented on #1
@steelsojka nice, I guess then I'll just implement this for my personal config.

I would like something like (`|` is cursor position)
[code]
should expand but

[code]
should not since I'm still thinking about where I want to put `)`

[2021-04-08 14:22] cloggier commented on #1
@steelsojka Currently I have:

[code]

binding compe and autopairs together.

[2021-04-08 16:28] steelsojka commented on #1
@theHamsta Yeah that makes sense. I do the same thing for `'`. You can do

[code]

I'm gonna add some more utils that makes this a little nicer for overridding. This will give you the idea though.

[2021-04-08 16:39] steelsojka commented on #1
@cloggier You should be able to do

[code]

The `exec` function (or whatever you want to name it) just calls the enter handler within pears.

[2021-04-08 16:55] steelsojka commented on #1
@cloggier Or if you don't want to use the override handler you can just call the method directly

[code]

[2021-04-08 16:59] cloggier commented on #1
First option seems simpler, thank you so much!

[2021-04-08 17:01] steelsojka opened #2 "Add expansion based on treesitter context"
Basically, allow expanding only within specific treesitter nodes. This should be completely opt in and configurable.

[2021-04-08 17:09] steelsojka commented on #1
No problem. Let me know if something doesn't work.

[2021-04-08 17:15] cloggier commented on #1
Enter works perfectly as far as I can see, but came across insertion of extra pair when closing - would expect it to jump over instead:

![Untitled](https://user-images.githubusercontent.com/69750637/114068929-1e491b00-98a7-11eb-8c06-cdff7a45e50d.gif)

[2021-04-08 17:28] steelsojka commented on #1
That should be working already. What does the config look like? What nvim version are you running?

[2021-04-08 17:35] kyazdani42 commented on #1
had a lot of these breakages today too with the latest version of neovim and all plugins. Basically in jsx files everything would break, like typing `<` would enter `>` which i don't want since i use nvim-autotag x) but i guess this can be configurable too.

[2021-04-08 17:36] steelsojka commented on #1
Yeah, I've actively been changing stuff through out the day... including breaking some things. Right now, this plugin isn't aware of any syntax regions. That will come next.

[2021-04-08 17:45] cloggier commented on #1
Everything is latest versions (nvim, pears) - upgraded just now. Still getting that behaviour on `'`, but not on `"`.

[2021-04-08 17:45] steelsojka commented on #1
oh ok. I think it's because it's falling into the `should_expand` logic to late. I'll take a look.

[2021-04-08 18:15] cloggier commented on #1
It is, thank you!

[2021-04-08 19:12] theHamsta commented on #1
@steelsojka just wanted to give a short note that I'm fully happy with

[code]
for all pairs. Really nice plugin.

[2021-04-08 19:47] theHamsta opened #3 "Filetype Black/Whitelist"
It would be nice to have a filetype white/blacklist or more general a config predicate function that could decide whether or not to attach to a buffer. So I could set a function that enables pears on every buffer except on Lisp buffers because I have other parenthesis handler for them.

[2021-04-08 20:01] steelsojka commented on #3
Yep! Thats on my list of things to do. I will get that working sometime
this week.

On Thu, Apr 8, 2021, 2:48 PM Stephan Seitz ***@***.***> wrote:

[2021-04-09 05:04] bluz71 opened #4 "[Suggestion] User level pairings per filetype API"
Hello,

I am an existing [pear-tree](https://github.com/tmsvg/pear-tree) user, but I am keeping a keen eye on the development of this interesting plugin.

One thing that is very nice about *pear-tree* is that it is very easy to define your own pairs per filetype, for example this is my `~/.vim/after/ftplugin/ruby.vim` file:

[code]

With Ruby I would like to define auto-close for the `|` character

[2021-04-09 13:42] steelsojka commented on #3
@theHamsta Can you test the new api that I added for FT configuration and see if that fits your use case? Let me know if you have any other use cases I could add.

[2021-04-09 13:48] steelsojka commented on #4
You can now define which pairs to include at the buffer level using `setup_buf_pairs()`. The only difference is pairs are configured in the setup call. You can also pass a config object when defining the pair that includes an inclusion/exclusion list of filetypes. Let me know if this meets you use case. I'm open to tweaking it to fit as many use cases as possible.

As far as wildcard pairing goes,

[2021-04-09 19:43] theHamsta commented on #3
@steelsojka This is perfekt! When I call `lua require "pears".setup_buf_pairs {}` I can deactivate the plugin for the current buffer or I can just exclude the language for all pairs! Nice work!

[2021-04-09 19:43] #3 closed

[2021-04-09 19:47] theHamsta commented on #3
Actually the plugin in could detach from the buffer when there are not pairs

[2021-04-09 22:16] bluz71 commented on #4
Thanks for the filetypes tip. Looks like the solution.

Wildcard pairing may be useful for tag pairing. It is up to you if you add that, i do know that vim-surround (from Tim Pope) and pear-tree both handle tags in the same way as quotes and bravkets. I use both plugins and I won't lie, it is very useful especially for JSX in JavaScript code.

Anyway, something for you to think about. Note, if you

[2021-04-09 22:16] #4 closed

[2021-04-10 16:06] steelsojka commented on #4
@bluz71 Thanks for the input! I added a barebones/rough implementation of wildcard pairs. I don't think it's as robust as pear-tree but it should cover the bases. I plan on refining it much more.

[2021-04-10 23:38] bluz71 commented on #4
Nice. So eventually, after this plugin is refined, it will be able to do tag pairing in addition to standard pairings.

I will indeed play with this work in progress plugin. My aim would be to replace pear-tree with this instead since I like Lua speed and Treesitter intelligence.

Keep up the good work, this plugin will eventually be very useful to quite a few Neovim users.

[2021-04-12 08:19] bluz71 opened #5 "[Wildcard tag issue] Entering space will automatically create close tag, not desired"
Hello again,

I am dipping my toe into this plugin. Developing very well. But I am aware it is still a work in progress.

Anyway, I do encounter a quirk with wildcard tag expansion.

My desire is type this JSX tag `<div className='AlbumShow'>`, however as soon as I type space after `div` the tag will automatically be paired `<div>|</div>`.

Personally I think pairing should only happen after `>` i

[2021-04-12 08:24] bluz71 commented on #5
I should have noted I am using:

[code]

[2021-04-12 08:25] bluz71 commented on #5
Oops, did not mean to close this.

[2021-04-12 12:00] steelsojka commented on #5
Yeah, this was actually originally intended but I forgot you could put a space in an html tag (oops). I'll look at it and adjust the matching pattern.

[2021-04-12 12:02] steelsojka commented on #5
I think it needs some tweaking. I'll work on it with these new scenarios.

[2021-04-12 22:02] bluz71 commented on #5
Sure, no rush at my end.

[2021-04-13 19:44] cloggier commented on #2
Would be nice if it allowed for expanding html tags only within html range (injected or otherwise), seems like `windwp/nvim-ts-autotag` does that. But am not sue whether there even exist concept of a html tag in pears. Just a thought.

[2021-04-13 19:45] cloggier opened #6 "Globally disable pair"
How to globally disable `<` pair auto closing?

[2021-04-13 20:53] steelsojka commented on #6
You can use the config and just set the pair to nil. `conf.pair("{", nil)`

On Tue, Apr 13, 2021 at 2:45 PM cloggier ***@***.***> wrote:

[2021-04-14 16:24] cloggier commented on #6
Neat, thank you very much!

[2021-04-14 16:24] #6 closed

[2021-04-16 19:47] steelsojka commented on #2
This should be mostly work now. Except you can't configure specific nodes, just language detection for nested languages. I want to eventually get configuration for specific nodes. So I'll leave this open until I do.

[2021-04-16 19:48] steelsojka commented on #5
This should mostly be working now after my latest refactor. Let me know if it solves your use cases.

[2021-04-17 04:07] bluz71 commented on #5
Yes, looks to be solved.

Many thanks.

[2021-04-17 04:07] #5 closed

[2021-04-17 04:15] bluz71 opened #7 "[JSX Error] col value outside range"
Hello,

My pears configuration:

[code]

Example JavaScript file to trigger error, `Hello.js`:

[code]

Now enter a `{` character at the `|` cursor position, for me it triggers the following error:

![Error](https://user-images.githubusercontent.com/11382509/115101395-2e3bbb80-9f87-11eb-9232-2db3c3b191e3.png)

[2021-04-19 11:51] steelsojka commented on #7
Keys are you using to get the blank line between the divs? I don't have carriage return working yet for wildcard pairs, so I want to reproduce this as accurately as possible.

[2021-04-19 22:08] bluz71 commented on #7
Yes, I hit enter.

[2021-04-21 10:13] salkin-mada opened #9 "| pears |"
Hey thanks for this nice auto pairs plugin.
I cant seem to get the `|` pairs to work.
even tried to set it specifically for one filetype ( no luck ):
[code]
what am i doing wrong?

[2021-04-21 11:54] steelsojka commented on #9
`pair` only takes two arguments, a string or a table. A string is shorthand for `{close = "|"}`. Change it to `conf.pair("|", {close = "|", filetypes = {"supercollider"})`

[2021-04-21 11:54] #9 closed

[2021-04-21 14:28] salkin-mada commented on #9
ah true! thanks.

[2021-04-21 17:56] steelsojka commented on #7
@bluz71 Let me know if this is fixed. I did some rework that I believe should have fixed this.

[2021-04-22 08:13] bluz71 commented on #7
@steelsojka,

Yes, looks to be fixed. Many thanks.

[2021-04-22 08:37] kflak opened #10 "Extraneous closing bracket when returning from normal mode"
Hi,

Thanks for a great plugin! I am not sure if this is a bug or a feature, but when I write `( ` I get this output `(|)` as expected. And if I keep typing inside the brackets and then hit `)` the cursor hops to after the closing bracket.

However: when I am inside the bracket and leave insert mode, then come back to it and type `)` I end up with `)|)`.

Is there a way to avoid this?

[2021-04-22 08:49] salkin-mada commented on #10
I would like to avoid this aswell. :~)

[2021-04-22 09:03] theHamsta commented on #10
It happened to me a few times when I did pasting via `p`

You can also do this trick. But I guess this is rather related to the wildtag matching.

- `<div<|`  ooops
- `<div|`
- `<div>|</>`

[2021-04-22 10:21] theHamsta opened #11 "Clever Edits for Insane Tree-Sitter Performance"
I'm often having performance problems with tree-sitter for C++ and Javascript on large files. The issue seems to be that typing `{` seems to cause a re-parse often until the end of the file which does not seem to happen for most other parsers.

I was wondering whether it would be possible to perform `{}` as a single edit as compared to `{` and then expand `}`. Pushing `{}` as one edit should reall

[2021-04-22 10:45] theHamsta commented on #11
Maybe we could allow to defer parsing on certain characters and wait for the next `onbytes` or remap `{` to some `maybe_expand`

[2021-04-22 11:59] steelsojka commented on #11
I've thought about just using `v:chars` to insert the text instead of running the commands to perform the expansion, but it ran into some problems. Indentation doesn't seem to work right if the full expansion is inserted instead of doing it in a scheduled vim callback. This would only work for simple pairs that don't have further expansions. For example the pairs `<` and `>` would expand fine but

[2021-04-22 12:09] theHamsta commented on #11
All other pair plugins where far to annoying. So I didn't use them. pears.nvim is the first that I trust!

To be clear the performance issue is not the pair plugin. It's actually without the plugin. I thought it would be cool if the languagetree could hold back its parsing until the closing pair is inserted which is a totally different edit. It would be basically skipping the invalid states of the

[2021-04-22 12:22] theHamsta commented on #11
We had the issue basically here: https://github.com/p00f/nvim-ts-rainbow/pull/29 Incremental updates don't have too much of an advantage because for C++/JS when you open a `{` it is basically a changedtree for the whole document. For most other parsers this is still localized in some way.

[2021-04-22 12:25] steelsojka commented on #10
Hopping past the closer is a feature and is expected. I'm gonna make that more configurable in the future.

Now when leaving insert mode call contexts of inserted pairs are removed. When entering insert mode again we can't hop past expanded pairs because we no longer know about ones. This is an intentional design decision. Pears doesn't keep track of existing pairs in the file, only ones entered d

[2021-04-22 12:26] steelsojka commented on #10
Also, there may be some sort of way to do this in the future, but it is not high on the priority list.

[2021-04-22 12:28] steelsojka commented on #11
Oh I see. So basically kind of disabling the treesitter parsing until we have done all edits for the pair?

[2021-04-22 12:32] steelsojka commented on #11
I believe, right now it inserts the char normally and then expands on a vim scheduled function. We could just set `v:char` to an empty string and handle the character insertion ourselves instead in the scheduled function... That may only trigger it once. I to have noticed some flickering.

[2021-04-22 12:43] kflak commented on #10
Fair enough :-) If this is expected behavior I'll learn how to get used to it. I'd keep this issue open, though, in case you find a good way of configuring this.

[2021-04-22 12:45] theHamsta commented on #11
yes, this is what I meant. But probably not worth the effort. It only happens on extremely big files with a lot of query regexing and logic.

https://user-images.githubusercontent.com/7189118/115715405-602e9280-a378-11eb-90a9-222374302e91.mp4

The flickering basically comes because the document has a completely different structure for a second. When you edit manually this also happens.
https://use

[2021-04-22 12:49] steelsojka commented on #10
@kflak  I eventually want to make it an opt in feature at some point. I don't like it ;) but I know a lot of people probably would opt into it.

[2021-04-22 12:56] kflak commented on #10
Currently I certainly would, but who knows, maybe a bit of forced weening would make me come to the dark side as well...

[2021-04-22 13:15] steelsojka commented on #11
I do notice some slow down when inserting a pair via v:char and then expanding vs doing it all in a scheduled function. I'll take a look at it.

[2021-04-22 15:02] steelsojka commented on #11
@theHamsta Can you try this branch https://github.com/steelsojka/pears.nvim/tree/fix/single-edit and see if there are any issues? This will insert the character and expand the pair within the same schedule callback.

[2021-04-22 20:11] steelsojka commented on #11
@theHamsta I accidentally pushed some refactored code on that branch, so..... it may not work. I'll let you know when I have something stable.

[2021-04-23 14:09] steelsojka commented on #11
@theHamsta I merge my changes into master. Let me know if that speeds up those flickers. In my limited testing it seemed to speed up placing "(" ")" pairs in a large JS file.

[2021-04-23 14:10] steelsojka commented on #2
I'm closing this since the rules api now contains a `child_of_node` rule that can be applied to any part of expansion based on a treesitter node.

[2021-04-23 14:10] #2 closed

[2021-04-23 14:32] theHamsta commented on #11
Yes it seems a lot lot smoother. No flickering at all.

However one of the changes of today causes the deletion of some text for me.

https://user-images.githubusercontent.com/7189118/115886349-1fef1300-a451-11eb-9930-0c1128a0951d.mp4

[2021-04-23 14:37] theHamsta commented on #11
Next GPT3 language model detects when you write bad code and deletes it immediatelly.

[2021-04-23 14:51] theHamsta commented on #11
It's related with my usage of compe. With autocomplete disabled it won't delete any text.

[2021-04-23 14:58] theHamsta commented on #11
Did some changes in my compe config and the problem does no longer occur.

[2021-04-23 15:52] theHamsta commented on #11
As compe did this before it is probably compe to blame. Will check whether o can reproduce with other completion plugins

[2021-04-23 16:32] steelsojka commented on #11
Hmmm weird. I did some stuff with multibyte pairs that may have effected the deletion. I'll take a look and see if I can reproduce it.

[2021-04-23 16:33] steelsojka commented on #11
Can you give me a run down of what's happening?

[2021-04-23 17:08] theHamsta commented on #11
- type foo
- autocomplete shows up
- type (
- text gets deleted

I guess a hook of compe expects ( to appear after the key press I'll have a look at their code base soon or it's something related to insertcomplete mode

I can prevent the deletion

- type foo
- autocomplete appears
- select entry and press c-y complete mode ends
- type (
- () appears

[2021-04-23 19:10] theHamsta commented on #11
Also `compe#close('<C-e>')` get pasted as because `()` and `''` expand together

![image](https://user-images.githubusercontent.com/7189118/115918890-62781600-a478-11eb-8af6-6ff7f1c12874.png)

[2021-04-23 21:20] saadparwaiz1 opened #12 "completion framework config not working?"
Thank you for a great plugin.

I tried out the recently updated readme for compe but it doesn't seem to work.  I think it might be because compe#confirm returns the key that needs to be pressed. So it might need something like nvim_feedkeys

[2021-04-23 21:30] ram02z commented on #12
I am experiencing the same issue.

[2021-04-24 14:50] saadparwaiz1 commented on #12
@ram02z  made [this](https://github.com/saadparwaiz1/dotfiles/blob/a1e89af910b8548bd16b64c3168d5816e38d7b13/nvim/lua/extensions/packer/init.lua#L41) change to the config to get it working.  Try if this works for you :)

[2021-04-26 01:19] ram02z commented on #12
@saadparwaiz1 just tried and it works perfect. Thanks!

[2021-04-26 02:15] ram02z opened #14 "Buffer related error"
Going to preface by saying I have no idea how to reproduce the error. It happened twice to me and both times I had 4 buffers open and the error would appear twice each time I clicked a pair character like `{`.
The error message persisted for all the pair characters and only happend on the buffer the original error appeared on.

[code]

![image](https://user-images.githubusercontent.com/59267627/11

[2021-04-26 12:22] steelsojka commented on #12
Thanks for finding this! I updated the implementation and docs. You can return any string out of that function now and it will be fed to `feedkeys`. So, just return the result of the compe call.

[2021-04-26 18:42] saadparwaiz1 commented on #12
Ah thanks for your help 😁

[2021-04-26 18:42] #12 closed

[2021-04-27 09:39] ray-x opened #15 "Failed to confirm and expand vsnip"
Following the README.md. The plugin can work with compe regarding function/field completion. But it failed to expand the vsnip.
There is a related topic https://github.com/hrsh7th/nvim-compe/issues/99 and seems autopairs fixed this issue.
Is it possible to merge the changes or update the README?

[2021-04-27 12:03] ray-x commented on #15
There is a bug in the config and prevent my setup function from running successfully, which cause this issue.
I created a RP for this https://github.com/steelsojka/pears.nvim/pull/16

[2021-04-27 12:21] steelsojka commented on #15
I merged your PR. Does this work correctly now?

[2021-04-27 12:23] steelsojka commented on #14
hmmmmm.... I'll keep a look out for it. If you have time can you get me a minimal reproduction? Also, when you say "clicked" do you mean with a mouse?

[2021-04-27 12:29] ray-x commented on #15
Yes works fine now

[2021-04-27 12:29] #15 closed

[2021-04-27 18:23] ram02z commented on #14
Sorry I meant pressing any pair character would result in the error. I have managed to reproduce the error.

1) Open a file
2) Open a new buffer for any other file
3) Close one of the buffers
4) Reopen the buffer you closed
5) Type any pair character and you should see an error message similar to the original appear.

I have used both nnn.vim and nvim-telescope to open new buffers and the error pe

[2021-04-27 21:54] elianiva opened #18 "question: is it possible to insert pair only when enter is pressed?"
The only reason why I use autopair is to avoid manually creating a multiline pair like these:

[code]

is it possible to insert the pair *only* when I press enter? When I press `{`, I don't want it to insert `{}`, but when I press `{` and then `<CR>`, it will insert the pair *and* expand it. Some illustration:

[code]

I have something like this in my config but it's not that good and I want to us

[2021-04-28 12:41] steelsojka commented on #18
Currently there is not a way to do this. I've never really thought of that scenario before. I will look into seeing if it can fit into the current hooks and if not, I'll see if I can add it in.

[2021-04-29 15:48] ram02z commented on #14
Seems like one of the recent commits got rid of the error, but is now producing pecuilar behaviour. Some pairs fail to expand.
If you follow step 1-4 from the error reproduction, and change step 5 to:
Type the any of the following pairs characters: ", ` or ' (could be more affected)

![image](https://user-images.githubusercontent.com/59267627/116578012-e57dee00-a908-11eb-9740-31122448c84d.png)

Ad

[2021-04-30 01:57] nobleach opened #19 "Pears errors on startup"
Using NeoVim 0.5:
[code]

I'm getting:
[code]

When I start NeoVim. My setup is as follows:
[code]
I'm not sure what could be going wrong.

[2021-04-30 12:02] steelsojka commented on #19
It's because you have a file named "pears" when the plugin also has a file named "pears" that you import. You'll need to change the name of your setup file to not collide.

[2021-04-30 12:14] nobleach commented on #19
Brilliant. Thank you! That was it.

[2021-04-30 12:14] #19 closed

[2021-05-03 20:59] ram02z opened #21 "Is it possible to apply custom configuration to a list of pairs?"
I want to create a rule that doesn't expand pair characters if they are in a comment node using treesiter. I can achieve this feat on a specific pear like:

[code]

Of course, I can just copy paste this mutliple times over changing the specific pear, but I would prefer to just pass a list or similar in order to achieve this.

[2021-05-04 02:41] theHamsta commented on #21
Maybe there could be a global default/fallback for a pair config (probably there's already one but I don't want to look for it on mobile)

Basically the `or` options here could come from a default pair config:
https://github.com/steelsojka/pears.nvim/blob/a0a569720ffedb608c2cf0ceafd0e2ba59bb1989/lua/pears/config.lua#L29

[2021-05-09 04:04] ray-x opened #22 "Failed to load with packadd"
Minium vimrc:

[code]
pears.nvim was cloned to $HOME/.vim/plugged/pears.nvim
Start nvim and
Run `packadd pears.nvim`
Run `lua require "pears".setup()`
Both does not show any errors
And insert `(`,  it was not auto paired with ')'

[2021-05-10 13:55] steelsojka commented on #22
I'm not sure if your setup is correct... I don't think vim-plug is suppose to work with packadd.

[2021-05-10 13:57] steelsojka commented on #21
I need to adjust the rule api to make it more composable... Right now you have to replace all the logic if you want to add your own, but I think it would more useful to have the ability to add/remove certain parts of a rule. This is something I will work on.

@ram02z You're example will work but it requires `nvim-treesitter` to work since it uses those apis.

[2021-05-10 14:12] ray-x commented on #22
packadd is an instruction provided by neovim and can be used without any plugin pre-installed.
Alternative I can
clone pears.nvim in ~/.vim/pack

start nvim by
`nvim -u NORC`

And run `packadd pears.nvim` and then setup(). Pears still failed to load

Another try

[code]

After nvim loaded with above vimrc, run `lua require "pears".setup()` from command. Still no luck

I think one point is whether

[2021-05-10 14:47] ray-x commented on #22
Ok. if I open another file in buffer, pear back to life.
So the question is that is there a way to lazy load pear after Insert event.

[2021-05-10 15:02] steelsojka commented on #22
You can call the attach method with the buffer id on any event you want. If
it is already attached its a noop.

On Mon, May 10, 2021, 9:48 AM rayx ***@***.***> wrote:

[2021-05-10 20:46] ray-x commented on #22
thanks.
Need to rerun `lua require("pears").attach()` for lazy loading. That works.

[2021-05-11 03:13] #22 closed

[2021-05-11 16:39] camdencheek opened #23 "Repeat with `.`"
Hi there! I'm running into some issues with repeating inserted pairs with `.`. I've tried to put together a few reproducing examples. I don't immediately have the time to dig in to fix this, so I'm writing up an issue, but I might be able to tackle it sometime soon.

Essentially, inserting a pair then repeating the insert with `.` doesn't do what I expect.

Observed 1:
press `i(<Esc>` -> content `

[2021-05-12 18:45] ram02z commented on #21
@steelsojka I use nvim-treesitter and I can confirm it doesn't work. See gif below for an example using the `'` pair.

![comment_pair](https://user-images.githubusercontent.com/59267627/118027970-6eaa1180-b35a-11eb-9238-d2fd41241a51.gif)

[2021-05-12 18:49] steelsojka commented on #21
I think it's checking it's a child of the node instead of the actual node, which is comment in this case.

[2021-05-12 18:51] steelsojka commented on #21
In the meantime, you could write your own rule using the nvim-treesitter api to check the node under the cursor. I can fix this when I get back from vacation (sometime next week).

[2021-05-18 03:37] jasonrhansen commented on #21
I believe the reason your rule for comments isn't working is that the comments are in a different language tree with the language "comment". You should be able to disable a pair in comments by excluding the "comment" filetype like this:
[code]

[2021-05-18 10:57] steelsojka commented on #21
This is a good workaround if you have the comment parser enabled, but
expected funtionality should be working across language boundaries. I
thought it already did but maybe i didnt get to it yet. I will get back to
it here soon.

On Mon, May 17, 2021, 10:37 PM Jason Hansen ***@***.***>
wrote:

[2021-05-18 14:23] YorickPeterse commented on #10
I'd like to see support for this as well. :smiley: Currently it's a bit tricky to use pears in combination with for example code completion, as navigating pmenu results require you to exit insert mode, thus resetting pears' state.

[2021-05-18 19:51] YorickPeterse opened #27 "Adding an extra space when pressing space inside a pair"
https://github.com/Krasjet/auto.pairs (and probably other pairs plugins) have a feature where pressing a space inside a pair adds an extra space after it. So `{|}` expands to `{ | }` when you press space, instead of `{ |}`. I experimented with adding a custom rule for this as follows:

[code]

Unfortunately, this doesn't quite work the way I'd hope. Take the following example:

[code]

If I press

[2021-05-18 22:25] steelsojka commented on #27
This currently isn't a feature of this plugin. It is, however, on my
roadmap to add. I will also look into you issue as well.

On Tue, May 18, 2021 at 2:51 PM Yorick Peterse ***@***.***>
wrote:

[2021-05-19 12:31] steelsojka commented on #27
Adding the space to the pair won't work since the space will be considered part of the pair. So It will move past when you hit space, which is expected behavior.

[2021-05-22 01:52] jasonrhansen opened #32 "Support for vim-endwise style pairs"
I'd like to be able to configure pairs to do things similar to what [endwise](https://github.com/tpope/vim-endwise) does. I would just use endwise in combination with this plugin, but it doesn't work when treesitter is enabled.

Here are some examples of what I'd like to be able to do in Lua:

[code]

[code]

[code]

The first two I've been able to configure using #30 to expand on enter in additio

[2021-05-22 21:06] ram02z commented on #14
Ok, so I cannot reproduce the issue when using `bwipeout` instead of `bdelete`. So it is a weird interaction since `bdelete` doesn't completely delete the buffer.

[2021-05-24 16:37] p00f opened #33 "Fast wrap"
Can fast wrap like https://github.com/jiangmiao/auto-pairs#options be added?

Example:

1) `"hello" world` - cursor between `o` and `"`
2) Press <M-e>
3) `"hello world"

[2021-05-25 04:58] bluz71 commented on #32
Ruby functions, which also close with `end`, have optional parenthesis:

[code]

What is the opener here for the two foo-style functions?

I think it will be very difficult to integrate true endwise functionality into the pairing plugin.

The [nvim-autopairs](https://github.com/windwp/nvim-autopairs) plugin has their own endwise [implementation](https://github.com/windwp/nvim-autopairs/blob/master

[2021-05-27 12:34] #18 closed

[2021-05-27 12:35] steelsojka commented on #33
I've never used this feature. It's not on the road map at the moment, but we can keep this open for tracking.

[2021-05-27 12:37] steelsojka commented on #32
I think endwise is out of scope for this plugin. I would rather get this to play nicely with endwise instead of duplicating all that functionality.

[2021-05-27 14:24] jasonrhansen commented on #32
Yeah, it's probably best to leave endwise out of the scope of this plugin. I would just try to get endwise to play nicely with this plugin, but I use treesitter, and endwise doesn't work with treesitter enabled.

I agree with @bluz71 that it would be nice if there were a treesitter aware endwise plugin that could focus on just that use case. It could then be used in addition to plugins like this o

[2021-05-27 22:08] bluz71 commented on #32
I think a new plugin will need to be created since:

- endwise requires Vim regex syntax, which Neovim Treesitter explicitly disables

- Tim Pope uses Vim, not Neovim, so I doubt he will change endwise

For the moment I am learning to live without endwise and instead I am using insert mode mappings instead, for example Ctrl-e inserts end followed by normal mode O.

[2021-05-29 12:44] dchinmay2 commented on #33
Interesting, do you never need it or do you do something else? I find myself frequently extending a block to include more statements this way

[2021-06-10 12:48] ten3roberts commented on #33
Adding to this. Fast wrap is the only reason I'm staying with jiangmio's auto-pairs as it is very easy to surround arguments by yet another pair, say going from

`print(var)`

to

`print(vim.inspect(var))`

By just typing `vim.inspect(<M-e>`

[2021-06-25 19:03] pwntester opened #35 "question: not pairing if next character is not whitespace or EOL"
Hi,

I would like to not complete a pair if there is a character after the cursor. Eg:

Do not complete:
foo|{  ->  foo{|{

Complete:
foo|   ->  foo{|}

Im pretty sure this is currently possible but haven't found any example or documentation

Thanks!

[2021-06-28 18:38] ram02z commented on #35
@pwntester
For your specific example, add this to your pears setup function
[code]

[2021-06-28 18:47] ram02z opened #36 "Conflict with register paste"
Steps to reproduce:
1. Use `<C-R>` binding in insert mode
2. Pick a register that contains a pair character like '

The result is undefined behaviour like a number of lines being deleted and/or the orignal pairs being removed from pasted register.

[2021-06-28 18:52] pwntester commented on #35
Thanks

[2021-06-28 18:52] #35 closed, assigned to nobody

[2021-07-16 02:46] fragov opened #37 "Expanding combination is not working"
I tried to add this to my nvim config, but it just type text direct in buffer:
`inoremap <silent> <C-l> lua require "pears".expand()`

But also a bit better variant is doing nothing:
`inoremap <silent> <C-l> <Cmd>lua require "pears".expand()<CR>`

Am I doing something wrong?

[2021-07-21 10:36] shubham-cpp commented on #15
Its not working for me. My setup is here
[code]

Whenever I try to expand any snippet it just passes enter instead of expanding the snippet

[2021-07-29 21:56] dm9pZCAq opened #38 "macro expanding error"
when i record macro which uses pairs it breaks

for example:
[code]

this should make from `some text` -> `[some text]`

but this actually do `some tex[]t`

[2021-08-03 11:27] Krafi2 opened #39 "Strange behavior of `start_of_context` and `end_of_context`"
Hello! I'm a little baffled by the behavior of the rule functions `start_of_context` and `end_of_context`.
If I were to type a bracket in the middle of some text like so: `xxx(yyy`, I would expect `start_of_context` and `end_of_context` to match `xxx` and `yyy` respectively. In reality, however, `start_of_context` matches on `x(yyy` and `end_of_context` on `xxx`, which I find rather surprising and

[2021-08-03 12:22] steelsojka commented on #39
I believe this is just a misunderstanding of what the "context" is. Context is from the start of first matching character in a pair sequence to the last matching character in the sequence. It doesn't match content around the pair (how would it?). So, in you above example the context would only be one character long at the `(` location. You can use the context position to further inspect characters

[2021-08-03 19:49] Krafi2 commented on #39
No wonder I couldn't get it to work, that is actually very handy! I think that the behavior I was thinking of is  provided by `match_prev` and `match_next`?

The reason I was confused was this part of the readme:
[code]
If I understand correctly now, this makes the closing quote not expand when the opening quote is proceded by an alpha character? Isn't `match_prev` meant to be used here?

[2021-09-08 17:24] rawhat opened #40 "Unexpected behavior with `tag_matching` preset"
I have this preset enabled, and looking at the custom rules for `should_expand`, I would expect different behavior than I am seeing.

The rule for
[code]
looks like it should allow the code structure in the comment.  However, when I try this, I instead see:

[code]

The behavior on backspace seems to imply that the "context" is actually correct, but the closing tag is being generated as well?

Add

[2021-09-10 19:27] elspecal commented on #36
+1 same issue here

[2021-09-10 19:35] elspecal opened #41 "Buggy return expansion"
Sometimes inserting a pair and hitting Return makes the cursor jump out of the pair and creates a new empty line on top of the current one. Basically instead of the expected behavior:
[code]

what is actually happening is:
[code]

[2021-09-28 13:58] farukara opened #42 "curly braces is not opening new line in go"
in go when i enter
`some stuff {`
shows
`some stuff {|} `
and when i press enter here
it does following without creating a blank line in between
[code]

any ideas why?

[2021-09-29 08:34] farukara commented on #42
uninstall/install cycle fixed the issue. Don't know what caused it in the first place though.

[2021-10-16 12:19] LordMZTE commented on #33
I've really been missing this feature ever since I switched to pears. I think that this would make a great addition!

[2021-10-19 10:43] ttys3 commented on #27
I try to add a pair for lua (if I type `if` then auto pair `then`), but like @YorickPeterse said,
I encounterd a strange behavior:

[code]

if I now press space, the cursor jumps over `then`, resulting in this:

[code]

[code]

if remove the space `close = " then"` => `close = "then"`, then the space works.

but I still can not get `then` -> `end` work.

[2021-10-23 09:26] m0ukub1 commented on #27
why not use snippet, just curious

[2021-10-23 09:49] m0ukub1 opened #43 "support for jumpout&jumpnext pairs"
Used another autopairs plugin writen in vimscript for a long time, is it possiable support the same feature

{ | } ... [ ]
        --type C-n to jump out
{ } | ... [ ]
        --type C-n to jump next
{ } ...[ | ]

[2021-10-27 08:43] gbirke opened #44 "Add preset for .vim files, don't pair ""
In `.vim` files, the character `"` denotes the start of a comment that should not be paired. Could you create a preset for `.vim` files that excludes `"` ?

[2021-11-02 08:44] kutsan commented on #38
Looks like the maintainer has abandoned this project. There is this alternative if anyone is interested: https://github.com/windwp/nvim-autopairs

[2021-11-02 12:27] dm9pZCAq commented on #38
@kutsan thank you for info!

[2021-11-03 13:40] stevensojka-toast commented on #38
@kutsan This isn't "abandoned". Feel free to submit PRs to it. I've had other priorities that take precedence right now.

[2021-11-30 14:12] dchinmay2 opened #45 "`remove_pair_on_inner_backspace` does not work when closing bracket is on another line"
i.e. when the cursor is at the bar position it should and I press backspace, both the brackets should get deleted.
[code]

(same with there is a space instead of a newline between the brackets)

[2021-11-30 14:39] dchinmay2 commented on #45
Although this only makes sense for brackets, not quotes which might make things complex

[2021-12-02 03:22] rhcher opened #46 "If there are multiple pairs of double quotes in a line, the backspace behavior is wrong."
## Explain the issue
If there are multiple pairs of double quotes in a line, the backspace behavior is wrong.

### Steps to reproduce
 1. run `nvim -u vimrc.vim test`
 2. We input multiple pairs of double quotes in one line:
![image](https://user-images.githubusercontent.com/50723480/144351499-75158b1e-defb-4bdf-bc20-a6bf08a03b31.png)

 3. Then we press `backspace` key, we can see that the second

[2021-12-08 12:32] gegoune opened #47 "Disable for telescope's prompt window"
I tried to set up `autocommand` on filetype of `TelescopePrompt` calling `lua require "pears".setup_buf_pairs {}` but pears still closes pairs.

I also tried to run it while in Normal mode in Telescope but pairs were still there.
Also tried: `lua require "pears".setup_buf_pairs {include={}}` - didn't help.

[2021-12-28 15:57] gegoune commented on #47
I also just tried
[code]
but closing pairs are still inserted in Telescope's prompt.

[2022-01-16 17:37] jasonrhansen commented on #47
Here's what I did to disable in telescope:

[code]

[2022-01-16 17:43] gegoune commented on #47
@jasonrhansen thanks! Will try that when I get a sec. Any idea why empty string works in that case?

[2022-01-18 23:25] jasonrhansen commented on #47
I don't know why disabling the 'TelescopePrompt` filetype doesn't work. That's actually what I tried at first, and then out of curiosity I tried it with an empty string and it worked. I haven't really investigated why it works though.

[2022-01-25 14:04] jasonrhansen commented on #32
For anyone that misses endwise while using treesittter, there's a new plugin that implements endwise functionality using treesitter:
https://github.com/RRethy/nvim-treesitter-endwise

It currently only supports ruby and lua, but adding support for other languages isn't too difficult. I've opened a PR to support vimscript, and I plan on adding support for julia.

[2022-04-03 06:00] kflak opened #48 "Documentation on excluding pair from default set per filetype"
Hi,

Where can I find information on how to exclude a pair for a specific filetype? In this case, I want to exclude ' from all Lisps.

[2022-04-09 14:56] kflak commented on #48
Not quite sure what I'm doing wrong here, but trying to stick this into `after/ftplugin/scheme.vim` has zero effect: `lua require "pears".setup_buf_pairs {exclude = {"'"}}`

[2022-04-17 05:33] ignamartinoli opened #49 "Add support for space expansion"
Very nice plugin. It would be really nice if it had support for this kind of behaviour:
[code]
Just as with typing `<CR>`.
Anyway it's an amazing plugin and this is not a critique, just some thought about something nice that could be implemented

[2022-04-26 19:38] ignamartinoli opened #50 "Not working"
I installed the plugin via **Packer** with `.config/nvim/lua/plugins.lua`:

[code]

and this configuration `.config/nvim/lua/plugins/pears.lua`:

[code]

For some reason it stopped working. How can I make it work?

[2022-05-13 06:42] kuator opened #51 "test"
:trollface:

[2022-05-13 06:42] #51 closed, assigned to nobody

[2022-05-16 18:59] #50 closed, assigned to nobody

[2022-05-16 19:00] ignamartinoli commented on #50
Solved

[2022-05-26 05:33] #49 closed, assigned to nobody

[2022-06-05 07:54] SoftwareEthicsResearcher opened #52 "no license"
Hello,

May we know the license for the repo? GitHub also encourages us to have a license for public repo (under "Licensing a repository - GitHub Docs"). We would like to highlight this as a transparency concern.

The following are from GitHub Docs.
· "If you're creating an open source project, we strongly encourage you to include an open source license."
· "If you publish your source code in a pu